/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2018, 6:59:39 PM
    Author     : MAMI
*/
body{
    font-family: Arial, Helvetica, Geneva, sans-serif;
    font-size: 18px; 
    color:white;  
}
.error{
    color: #FF0000;
}
.success{
    color: #00FF00;
}



